body{
    min-height: 95vh;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.calculator{
    flex: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .75);
    border: 5px solid black;
    border-radius: 1%;
}

.output{
    padding: 5px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    background-color: rgba(0,0,0, .75);
}

.previousResult{
    color: rgba(255, 255, 255, .5);
    font-size: 1.5rem;
}

.currentResult{
    color: white;
    font-size: 2.5rem;
}

.panel{
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    flex: auto;
    display: flex;
}

.btn{
    margin: 0;
    padding: 0;
    flex: 1;
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    border: 1px solid white;
    min-width: 100px;
}

.btn1{
    flex: 2;
    min-width: 200px;
}

.btn:hover{
    background-color: rgba(255, 255, 255, .9);
}